#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: #fff;
    transition: all 0.3s;
    left: 100%;
}

#sidebar .sidebar-header {
    position: fixed;
    top: 0;

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}