#wrapper {
  overflow-x: inherit;
}

#wrapper.toggled {
  overflow-x: hidden;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar-wrapper {
min-height: 100vh;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
min-width: 20rem;
max-width: 20rem;
color: #000;
border-right: none!important;
border-left: 1px solid #dee2e6;
position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#wrapper.toggled #sidebar-wrapper {
margin-right: 0;

}

@media (max-width: 1024px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-right: -20rem;
}

}

@media (min-width: 1024px) {
#sidebarCollapse {
  display: none !important;
}
#wrapper {
  overflow-x: inherit;
}
#sidebar-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
}
}

@media (max-width: 800px) {
#buttonCartText {
  display: none;
}
}